.instructions {
    flex-wrap: wrap;
    width: 1276px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    border: 2px solid #7C1216;
    border-radius: 10px;
    margin-top: 2% !important;
    margin-bottom: 5%;
}

.form-select {
    background-color: #F6AA2C !important;
    border-radius: 12px !important;
    width: 50% !important;
    margin-left: 2%;
}

.note {
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
    color: #7C1216;
    font-weight: bolder;
}

.form-control {
    background-color: #F6AA2C !important;
    border-radius: 12px !important;
    width: 50% !important;
    margin-left: 2%;
}